body{
background: url(./Images/FON.jpg);    
font-family: "Roboto", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
color: #010101;
min-height: 100vh;
padding: 10px;
margin: 0;
}
.header{
    background-color:rgba(0, 118, 116, 0.849);
}
.nav-list{
display: flex;
justify-content: space-around;
align-items: center;
}
.nav-list {
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
  }
.footer{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color:rgba(0, 118, 116, 0.849);
}
.container{
max-width: 1440px;
margin: 0 auto;
display: flex;
}
h1{
text-transform:uppercase;
text-align: center;
font-size: 56px;
font-style: oblique;
}
.section{
    text-align: center;
}